<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Librarian | Book List</title>
</head>

<body class="nav-md">

<!-- page content -->
<div layout:fragment="content" class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Book</h3>
            </div>

            <div class="title_right">
                <div class="pull-right">
                    <div class="input-group">
                        <a href="/books/register">
                            <button class="btn btn-primary" type="button">Register</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Book List</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width:180px;">Image</th>
                                <th>Title</th>
                                <th>Stock</th>
                                <th>Isbn10</th>
                                <th>Isbn13</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="book : ${books}">
                                <td class="text-center">
                                    <a th:href="'https://amazon.jp/dp/' + ${book.isbn10.value}" target="_blank">
                                        <img th:src="'http://images-jp.amazon.com/images/P/' + ${book.isbn10.value} + '.09.MZZZZZZZ'">
                                    </a>
                                </td>
                                <td th:text="${book.title}">sample title</td>
                                <td th:text="${book.stock}">1</td>
                                <td th:text="${book.isbn10.value}">0000000000</td>
                                <td th:text="${book.isbn13.value}">000-0000000000</td>
                                <td>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#modal-example"><i
                                            class="fa fa-edit"></i></button>
                                    <button class="btn btn-default" data-toggle="modal" th:data-book-id="${book.id}"
                                            data-target="#modal-delete-book"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal" id="modal-delete-book" tabindex="-1">
                            <div class="modal-dialog modal-sm">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="modal-label">Confirm</h4>
                                    </div>
                                    <form id="delete-form" method="post">
                                        <div class="modal-body">
                                            Are you sure you want to delete ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<div layout:fragment="scripts">
    <!-- content1 page scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#modal-delete-book').on('show.bs.modal', function (event) {
                let bookId = $(event.relatedTarget).data('book-id');

                $(this).find('#delete-form').attr('action', '/books/delete/' + bookId);
            })
        });
    </script>
</div>
</body>
</html>