<div th:fragment="sidebar" id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a><i class="fa fa-book"></i> Book Management <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/books">Book List</a></li>
                    <li><a href="/books/register">Register</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
